.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  .example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .cardBody {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 70%;
    padding:20px;
  }
  /* @media screen and (max-width: 480px) {
   #Btn1{
     width: 120px;
   }
   #Btn2{
    width: 120px;
  }
  } */

  /* for change mat checkbox color */
  ::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: green;
  }
  
  ::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: green !important;
  }