<div class="row">
  <div class="col-md-12">
    <div class="card" style="height:250px;">
      <div class="card-header bg-colour">
        <h5 style="display: inline-block;">Add Group Category</h5>
        <span class="float-right text-white" (click)="onCloseCancel()"
          style="font-size: 25px; font-weight: bold; cursor: pointer;">&times;</span>
      </div>
      <form [formGroup]="groupSetupForm" (ngSubmit)="onSubmit()">
        <div class="card-body">
          <div class="row justify-content-center">

            <mat-card class="cardBody">
              <div class="row">
                <div class="col-md-12">
                  <mat-form-field class="example-full-width">
                    <mat-label>Group Category Name *</mat-label>
                    <input matInput formControlName="groupCatagoryNameControl" placeholder="Group Category Name">
                    <mat-error *ngIf="groupSetupForm.get('groupCatagoryNameControl')?.hasError('required')">
                      Group Category Name is <strong>required</strong>
                    </mat-error>
                    <!-- <mat-error *ngIf="groupSetupForm.get('groupCatagoryNameControl')?.hasError('minlength')">
                      Group Category Name Contains at Least 3 <strong>character</strong>
                    </mat-error>
                    <mat-error *ngIf="groupSetupForm.get('groupCatagoryNameControl')?.hasError('maxlength')">
                      Group Category Name should not be more than 25 <strong>characters</strong>
                    </mat-error> -->
                  </mat-form-field>
                </div>
              </div>
              <div class="row mt-2">
                <div class="col-md-12 text-right">
                  <button id="Btn1" mat-raised-button color="primary" type="submit" [disabled]="!groupSetupForm.valid"
                    style=" margin:5px; width: 125px;">Save</button>
                  <button id="Btn2" mat-raised-button color="accent" type="reset"
                    style="width: 125px; margin-top: 3px; background-color:#E64F60; color:#fff; text-decoration: none;"
                    (click)="onCloseCancel()">Cancel</button>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </form>

    </div>
  </div>
</div>