.category-color {
    background-color: #4BC161;
    color: #fff;
}

.group-color {
    background-color: #00AAEE;
    color: #fff;
}

.selected-node-color {
    background-color: #E7E9EB;
    color: #3f51b5;
}