<div class="card" style="margin-top: 50px;">
  <div class="card-header bg-primary text-white">
    <h3>Angular Materialize Tree view</h3>
  </div>
  <div class="card-body">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- group start here -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <button class="group-color" [ngClass]="node == selectedGroupNode ? 'selected-node-color' : 'group-color'" mat-button 
        [color]="node == selectedGroupNode ? 'primary' : 'default'"
          (click)="selectGroup(node)">
          <i class="material-icons">group</i>
          &nbsp;&nbsp;

          {{ node.item }} &nbsp; &nbsp;
        </button>
        <!-- <mat-checkbox class="checklist-leaf-node" ></mat-checkbox> -->
        <!-- <i class="material-icons" style="color: blue; font-size: 14px; cursor: pointer;">
          edit
        </i> -->
      </mat-tree-node>

      <!-- group category start here -->
      <mat-tree-node *matTreeNodeDef="let node; when: isCategory" matTreeNodePadding>
        <button mat-icon-button [attr.aria-label]="'toggle ' + node.filename" matTreeNodeToggle>
          <mat-icon class="mat-icon-rtl-mirror" *ngIf="node.expandable == true">
            <!-- {{treeControl.isExpanded(node)==true ? 'expand_more' : 'chevron_right'}} -->
            {{
            node.isExpanded == true ? "expand_more" : "chevron_right"
            }}
          </mat-icon>
        </button>
        <button [ngClass]="node == selectedGroupCategoryNode ? 'selected-node-color' : 'category-color'" title="{{ node.item }}" mat-button
          [color]="node == selectedGroupCategoryNode ? 'primary' : 'default'" (click)="selectGroupCategory(node)">
          <i class="material-icons">category</i>
          &nbsp;&nbsp;
          {{ node.item }}
        </button>
        <mat-progress-bar style="margin-left: 15px; width: 250px;" *ngIf="node.isLoading" mode="indeterminate"
          class="example-tree-progress-bar">
        </mat-progress-bar>
      </mat-tree-node>
    </mat-tree>

    <div class="d-flex flex-row" style="margin-top: 50px;">
      <button class="btn btn-primary " style="margin-right: 5px;" (click)="addCatagory()">
        Group Category
      </button>
      <button class="btn btn-primary " (click)="addGroup()">
        New Group
      </button>
    </div>
  </div>
</div>
<hr>