<div class="row">
  <div class="col-md-12">
    <div class="card" style="height: 260px;">
      <div class="card-header bg-primary text-white">
        <h3 style="display: inline-block;">Add Group</h3>
        <!-- <span class="float-right text-white" (click)="onCloseCancel()"
          style="font-size: 25px; font-weight: bold; cursor: pointer;">&times;</span>  -->
      </div>
      <form #groupForm="ngForm">
        <div class="card-body" style="width: 500px;">
          <div class="form-group">
            <label for="title">Group Name*</label>
            <input type="text" class="form-control" id="title" [(ngModel)]="group.name" name="name"
              #groupName="ngModel" maxlength="25" minlength="3" placeholder="Enter Group Name" required>
            <div *ngIf=" groupName.invalid && (groupName.dirty || groupName.touched)" class="text-danger">
              <div *ngIf=" groupName.errors?.required">
                Group Name is required.
              </div>
              <!-- <div *ngIf=" groupName.errors?.minlength">
                Group Name Contains at Least 3 character
              </div>
              <div *ngIf=" groupName.errors?.maxlength">
                Group Name should not be more than 25 characters
              </div> -->
              <!-- <small class="form-text text-danger" *ngIf="groupName.errors.minlength">
                Your username cannot be longer than 50 characters.
              </small> -->
            </div>


            <!-- <div *ngIf="groupName.required" class="invalid-feedback">
              <div *ngIf="groupName.errors.required">Group Name is required</div>
            </div> -->
          </div>
          <div class="pull-right">
            <button type="submit" [disabled]="!groupForm.valid" mat-raised-button color="primary"
              style=" margin:5px; width: 125px;" (click)="saveGroup()">Save</button>
            <button id="Btn2" mat-raised-button color="accent" type="reset"
              style="width: 125px; margin-top: 3px; background-color:#E64F60; color:#fff; text-decoration: none;"
              (click)="onCloseCancel()">Cancel</button>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>